.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 1rem 2rem;
}

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;

  @media (min-width: 768px) {
    grid-template-columns: repeat(3, 1fr);
  }
  @media (min-width: 1200px) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  background-color: white;
  border-radius: 0.5rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.imageContainer {
  position: relative;
  height: 16rem;
}

.image {
  object-fit: cover;
}

.content {
  padding: 1.2rem;
}

.title {
  font-weight: bold;
  font-size: 1.4rem;
}

.price {
  font-size: 1.2rem;
  color: #4a5568;
}

.rating {
  font-size: 1.2rem;
  color: #ecc94b;
}
