.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 1rem 0.75rem;
  @media (min-width: 768px) {
    padding: 1rem 0.5rem;
  }

  .logo-link {
    margin-bottom: 0.5rem;
    display: flex;
    height: 5rem;
    align-items: center;
    justify-content: center;
    border-radius: 0.375rem;
    background-color: #2563eb;
    padding: 1rem;
    @media (min-width: 768px) {
      height: 10rem;
    }

    .logo {
      position: relative;
      width: 4rem;
      height: 4rem;
      color: white;
      @media (min-width: 768px) {
        width: 8rem;
        height: 8rem;
      }
    }
  }

  .main-content {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    gap: 0.5rem;
    flex-direction: row;
    @media (min-width: 768px) {
      flex-direction: column;
      gap: 0;
      row-gap: 0.5rem;
    }

    .nav-links {
      flex-grow: 1;
    }

    .spacer {
      display: none;
      height: auto;
      width: 100%;
      flex-grow: 1;
      border-radius: 0.375rem;
      background-color: #f9fafb;
      @media (min-width: 768px) {
        display: block;
      }
    }

    .sign-out-form {
      button {
        display: flex;
        height: 3rem;
        width: 100%;
        flex-grow: 1;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        border-radius: 0.375rem;
        background-color: #f9fafb;
        padding: 0.75rem;
        font-size: 0.875rem;
        font-weight: 500;
        &:hover {
          background-color: #e0f2fe;
          color: #2563eb;
        }
        @media (min-width: 768px) {
          flex-grow: 0;
          justify-content: flex-start;
          padding: 0.5rem 0.75rem;
        }

        .power-icon {
          width: 1.5rem;
        }

        .sign-out-text {
          display: none;
          @media (min-width: 768px) {
            display: block;
          }
        }
      }
    }
  }
}
