.layout-container {
  display: flex;
  height: 100vh;
  flex-direction: column;

  @media (min-width: 768px) {
    flex-direction: row;
    overflow: hidden;
  }

  .sidenav-container {
    width: 100%;
    flex: none;

    @media (min-width: 768px) {
      width: 20rem;
    }
  }

  .main-content {
    flex-grow: 1;
    padding: 1.5rem;

    @media (min-width: 768px) {
      overflow-y: auto;
      padding: 3rem;
    }
  }
}
